<!-- Start page content -->
<section id="page-content" class="page-wrapper">

<!-- ADDRESS SECTION START -->
<div class="address-section mb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="contact-address box-shadow">
          <i class="zmdi zmdi-pin"></i>
          <h6>Республика Беларусь, г.Минск</h6>
          <h6>ул.Каховская 70А</h6>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="contact-address box-shadow">
          <i class="zmdi zmdi-phone"></i>
          <h6>+375 (44) 7407582</h6>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="contact-address box-shadow">
          <i class="zmdi zmdi-email"></i>
          <h6>ideallux2017@gmail.com</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ADDRESS SECTION END -->

<!-- GOOGLE MAP SECTION START -->
<div class="google-map-section">
  <div class="container-fluid">
    <div class="google-map plr-185">
      <div id="googleMap"></div>
    </div>
  </div>
</div>
<!-- GOOGLE MAP SECTION END -->

<!-- MESSAGE BOX SECTION START -->
<div class="message-box-section mt--50 mb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="message-box box-shadow white-bg">
          <form id="contact-form" action="mail.php" method="post">
            <div class="row">
              <div class="col-md-12">
                <h4 class="blog-section-title border-left mb-30">Связаться с нами</h4>
              </div>
              <div class="col-md-6">
                <input type="text" name="name" placeholder="Ваше имя">
              </div>
              <div class="col-md-6">
                <input type="text" name="email" placeholder="Ваша почта">
              </div>
              <div class="col-md-6">
                <input type="text" name="subject" placeholder="Тема сообщения">
              </div>
              <div class="col-md-6">
                <input type="text" name="phone" placeholder="Ваш телефон">
              </div>
              <div class="col-md-12">
                <textarea class="custom-textarea" name="message" placeholder="Сообщение"></textarea>
                <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">отправить</button>
              </div>
            </div>
          </form>
          <p class="form-messege"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MESSAGE BOX SECTION END -->
</section>
<!-- End page content -->

