<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
  <!-- header-top-bar -->
  <div class="header-top-bar plr-185">
    <div class="container-fluid">
      <div class="row">
        <div class="call-us">
          <ul class="menuu">
            <li><span class="glyphicon glyphicon-phone"></span> +375(44)7407582
            </li>
            <li><span class="glyphicon glyphicon-envelope"></span> ideallux2017@gmail.com
            </li>
            <li><span class="glyphicon glyphicon-home"></span> г.Минск ул.Каховская 70А
            </li>
            <li><span class="glyphicon glyphicon-time"></span> Время работы
              <ul class="submenu">
                <li><p> Пн-Пт 10:00 – 19:00</p></li>
                <li><p> Сб 10:00 – 16:00</p></li>
                <li><p> Вс - выходной</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- header-middle-area -->
  <div id="sticky-header" class="header-middle-area plr-185">
    <div class="container-fluid">
      <div class="full-width-mega-dropdown">
        <div class="row">

          <!-- logo -->
          <div class="col-md-2 col-sm-6 col-xs-15">
            <div class="logo">
              <a href="#" [routerLink]="'/'"><img src="assets/img/logo/logo.png" alt="main logo"></a>
            </div>
          </div>

          <!-- primary-menu -->
          <div class="col-md-8 hidden-sm hidden-xs">
            <nav id="primary-menu">
              <ul class="main-menu text-center">
                <li class="ipaltext mega-parent"><a href="index.html">Главная</a></li>
                <li class=""><a href="#" [routerLink]="'/product-list'" >Каталог</a>
                  <ul class="dropdwn">
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">Люстры</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}">Торшеры</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">Потолочные светильники</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">Настольные лампы</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">Бра</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}">Уличные светильники</a></li>
                    <li><a href="/#" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">Встраиваемые светильники</a></li>
                    <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}">Лампочки</a></li>
                  </ul>
                </li>
                <li class="ipaltext mega-parent"><a href="#" [routerLink]="'/delivery'">Доставка и оплата</a></li>
                <li class="ipaltext mega-parent"><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Распродажа'}">Распродажа</a></li>
              </ul>
            </nav>
          </div>

          <!-- header-search & total-cart -->
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="search-top-cart  f-right">
              <!-- total-cart -->
              <div class="total-cart f-left">
                <div class="total-cart-in">
                  <div class="cart-toggler">
                    <a href="#" [routerLink]="'/basket'" [ngClass]="{'active': quantity != 0 }">
                      <span class="cart-quantity">{{quantity}}</span><br>
                      <span class="cart-icon">
                          <i class="zmdi zmdi-shopping-cart-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- total-cart -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- END HEADER AREA -->


<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area hidden-lg hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
              <li>
                <a href="index.html">Главная</a>
              </li>
              <li>
                <a href="#" [routerLink]="'/delivery'">Доставка и оплата</a>
              </li>

              <li><a href="contact.html">Контакты</a>
              </li>

              <li><a href="#">Сотрудничество</a>
              </li>

              <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Распродажа'}">Распродажа</a>
              </li>

              <li><a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}">Каталог</a>
                <ul>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}">Люстры</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}">Торшеры</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">Потолочные
                      светильники</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">Настольные
                      лампы</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">Бра</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}">Уличные
                      светильники</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">Встраиваемые
                      светильники</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'"
                       [queryParams]="{category: 'Лампочки'}">Лампочки</a>
                  </li>
                  <li>
                    <a href="shop.html" [routerLink]="'/product-list'" [queryParams]="{category: 'Распродажа'}">Распродажа</a>
                  </li>
                  <li>
                    <a href="shop.html">Розетки и выключатели</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MOBILE MENU AREA -->
