<div class="row">
  <div class="col-md-12">
    <div class="culculate-shipping box-shadow p-30">
      <form [formGroup]="form">
        <h6 class="widget-title border-left mb-20">Оформить заказ</h6>
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="name" placeholder="Ваше имя">
          </div>
          <div class="col-md-6">
            <input type="email" name="email" placeholder="Ваша почта">
          </div>
          <div class="col-md-6">
            <input type="phone" name="phone" placeholder="Ваш телефон">
          </div>
          <div class="col-md-12">
            <textarea class="custom-textarea" name="message" placeholder="Сообщение"></textarea>
            <button class="submit-btn-1 mt-20 btn-hover-1" (click)="makeOrder()">Заказать</button>
          </div>
        </div>
      </form>
    </div>np
  </div>
</div>
