<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="../../../assets/img/author/1.png"/></div>
    <div class="swiper-slide"><img src="../../../assets/img/author/2.png"/></div>
    <div class="swiper-slide"><img src="../../../assets/img/author/32.png"/></div>

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>

<br />
<br />
<br />






<!-- Start page content -->
<div id="page-content" class="page-wrapper">

  <!-- BLOG SECTION START -->
  <div class="blog-section mb-50">
    <div class="container">
      <div class="row">
        <!-- blog-option start -->

      <div class="row">
        <!-- blog-item start -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item">


            <img src="../../../assets/img/bg/B4.png" alt="">
            <div class="blog-desc">
              <h5 class="blog-title"><a href="single-blog.html">ООО «IDEAL LUX»</a></h5>
              <p>официальный представитель компании
                в Республики Беларусь
                предприятие, специализирующееся
                на продаже светильников, люстр,
                торшеров,лампочек и остальной фурнитуры.

                Имея дела с нами вы всегда можете расчитывать на качественную продукцию и лучшие цены.</p>

            </div>
          </div>
        </div>
        <!-- blog-item end -->
        <!-- blog-item start -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item">

            <img src="../../../assets/img/bg/B5_act.png"  alt="">
            <div class="blog-desc">
              <h5 class="blog-title"><a href="single-blog.html">Каталог продукции</a></h5>
              <p>Cамый полный перечень продукции компании Ideal Lux
                вы найдете в нашем магазине по самым низким ценам

                Имея дела с нами вы всегда можете расчитывать на качественную продукцию и лучшие цены.</p>

            </div>
          </div>
        </div>
        <!-- blog-item end -->
        <!-- blog-item start -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item"><img src="../../../assets/img/bg/B6.png" alt="">

            <div class="blog-desc">
              <h5 class="blog-title"><a href="single-blog.html">Доставка и оплата</a></h5>
              <p>Приобрести товар вы можете тремя разными способами:

                Вы можете оплатить свой товар наличными деньгами в белорусских рублях в момент получения.

                После оформления заявки, мы отправим Вам счет, который можно оплатить в отделении банка.
                К оплате принимаются Visa, Visa Electron, MasterCard, MasterCard Electronic, Maestro, БелКарт и другие карты всех банков.
              </p>

            </div>
          </div>
        </div>
        <!-- blog-item end -->




      </div>
    </div>
  </div>
  <!-- BLOG SECTION END -->

</div>
<!-- End page content -->
