
<div class="shop-section mb-80">
  <div class="container">
    <div class="row ">

      <app-left-catalog-list [colMd]="2" [pull]="''"></app-left-catalog-list>

      <div class="col-md-10 col-sm-10 col-xs-15">

      <div class="heading-about marginbot-50">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
              <div class="section-heading" >
                <h1 class="uppercase fontmy" align="center">Доставка и оплата</h1>
                <p class="fontmy myfont" align="center">Не редко, совершая покупку в интернет – магазине Вы спрашиваете себя: - Как же я получу свой товар?.</p>
              </div>
            </div>
          </div>
        </div>
      </div>




      <br/>
      <h4 class="ipaltext widget-title border-left mb-20">Способы оплаты</h4>



      <div class="col-sm-4 col-md-4 ">

        <div class="service-box padin box-shadow">
          <img src="../../../assets/img/icon/D1.png" height="58" width="69"/>
          <div class="service-desc">
            <h5 class="fontmy">Наличными</h5>
            <p class="fontmy fff">Вы можете оплатить свой товар наличными деньгами в белорусских рублях в момент получения. (В соответствии с законодательством Республики Беларусь расчет за продаваемые товары осуществляется только в белорусских рублях).</p>
          </div>
        </div>

      </div>



      <div class="col-sm-4 col-md-4 ">
        <div class="service-box padin box-shadow">
          <img src="../../../assets/img/icon/D2.png" height="61" width="69"/>
          <div class="service-desc">
            <h5 class="fontmy">Безналичный расчет</h5>
            <p class="fontmy fff">После оформления заявки, мы отправим Вам счет, который можно оплатить в отделении банка, либо с расчетного счета вашей компании.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 ">
        <div class="service-box padin box-shadow">
          <img src="../../../assets/img/icon/D3.png" height="61" width="69"/>
          <div class="service-desc">
            <h5 class="fontmy">Банковской картой</h5>
            <p class="fontmy fff">К оплате принимаются Visa, Visa Electron, MasterCard, MasterCard Electronic, Maestro, БелКарт и другие карты всех банков.</p>
          </div>
        </div>
      </div>






    </div>


      <div class="col-md-10 col-sm-10 col-xs-15">


        <br/>
        <h4 class="ipaltext widget-title border-left mb-20">Самовывоз</h4>
        <br/>

         <p class="fontmy myfont">У Вас всегда есть отличная возможность оперативно получить свой заказ)). Как? Очень просто – Вы можете согласовать удобное для Вас время и посетить наш офис, в центре города, где наши сотрудники молниеносно отберут и отгрузят Ваш заказ.</p>




        <br/>
        <h4 class="ipaltext widget-title border-left mb-20">Доставка</h4>
        <br/>

          <p class="fontmy myfont"><b>Бесплатная доставка товара</b> – это самый приятный вариант для покупателя, но иногда магазин – продавец, не в силах доставить все товары бесплатно, поэтому есть ряд условий для бесплатной доставки:</p>
          <p class="fontmy myfont"><b>Бесплатно</b> доставляются только товары по <b>г. Минску</b>, при сумме заказа более <b>100руб (BYN)</b>. </p>
          <p class="fontmy myfont">•	Доставки при сумме заказа менее <b>100руб (BYN)</b>  составляет - <b>5руб (BYN)</b>.</p>
          <p class="fontmy myfont">•	Время доставки с <b>9-00</b> до <b>22-00</b>, в согласованное с Вами время.</p>
          <p class="fontmy myfont">•	Если в процессе доставки возникнут сложности – Вам обязательно перезвонят и оговорят новые условия доставки.</p>
          <p class="fontmy myfont">•	Доставка товаров осуществляется <b>«до двери»</b>.</p>
          <p class="fontmy myfont">Вы  всегда можете уточнить условия доставки, а также задать любой вопрос по телефону:</p>
          <p class="fontmy myfont" align="center"><b>8 (044)-740 75 82 (Velcom)</b></p>
          <p class="fontmy myfont">Команда Ideal-lux.by желает Вам приятных покупок!!!</p>









      </div>






    </div>
  </div>

</div>
