
<div class="col-md-9 col-md-push-3 col-sm-12">
  <div class="shop-content">
    <!-- shop-option start -->
    <div class="shop-option box-shadow mb-30 clearfix">
      <!-- Nav tabs -->
      <ul class="shop-tab f-left" role="tablist">
        <li class="active">
          <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
        </li>
        <li *ngIf="listView">
          <a href="#list-view" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
        </li>
      </ul>
      <!-- shop-pagination
      <mat-paginator *ngIf="products" [length]="9999"
                     [pageSize]="paginatorPageSize"
                     [pageSizeOptions]="[3, 9, 36, 72]"
                     [pageIndex]="paginatorPage"
                     (page)="getPaginatorOptions($event)">
      </mat-paginator>
       shop-pagination end -->
    </div>
    <!-- shop-option end -->
    <div class="tab-content">
      <!-- grid-view -->
      <div role="tabpanel" class="tab-pane active" id="grid-view">
        <div class="row">

          <!-- product-item start -->
          <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let item of products">
            <div class="product-item">
              <div class="product-img relative">
                <div class="back">
                  <div class="spinner-wrapper card-center relative">
                    <div class="spinner"></div>
                  </div>
                </div>
                <a href="#" [routerLink]="'/product'" [queryParams]="{id: item._id}">
                  <img class="relative" *ngIf="item.images" [src]="item.images[0] | async" alt=""/>
                </a>
              </div>
              <div class="product-info">
                <h6 class="product-title">
                  <a href="#"  [routerLink]="'/product'" [queryParams]="{id: item._id}">{{item.title}}  </a>
                </h6>

                <h3 class="pro-price" *ngIf="item.price">BYN {{item.price}}</h3>
                <ul class="action-button">
                  <li>
                    <a [ngClass]="{'activeBasket': isActive(item._id)}" title="Добавить в корзину" (click)="addToBasket(item._id)"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12" *ngIf="!products">
              Ничего не найдено
          </div>
          <!-- product-item end -->
          <!-- product-item end -->
        </div>
      </div>
      <!-- list-view -->
      <div role="tabpanel" class="tab-pane" id="list-view">
        <div class="row">
          <!-- product-item start -->
          <div class="col-md-12" *ngFor="let item of products">
            <div class="shop-list product-item">
              <div class="product-img">
                <a href="#" [routerLink]="'/product'" [queryParams]="{id: item._id}">
                  <img *ngIf="item.images" [src]="item.images[0] | async" alt=""/>
                </a>
              </div>
              <div class="product-info">
                <div class="clearfix">
                  <h6 class="product-title f-left">
                    <a href="#" [routerLink]="'/product'" [queryParams]="{id: item._id}">{{item.title}} </a>
                  </h6>
                </div>
                <!--<h6 class="brand-name mb-30">Brand Name</h6>-->
                <h3 class="pro-price" *ngIf="item.price">BYN {{item.price}}</h3>
                <p>{{item.description}}</p>
                <ul class="action-button">
                  <li>
                    <a [ngClass]="{'activeBasket': isActive(item._id)}" title="Add to cart" (click)="addToBasket(item._id)"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- product-item end -->
        </div>
      </div>
    </div>
    <!-- Tab Content end -->
    <div class="shop-option box-shadow mb-30 clearfix">
        <!-- shop-pagination end -->
        <mat-paginator *ngIf="products" [length]="9999"
                       [pageSize]="paginatorPageSize"
                       [pageSizeOptions]="[3, 9, 36, 72]"
                       [pageIndex]="paginatorPage"
                       (page)="getPaginatorOptions($event)">
        </mat-paginator>
        <!-- shop-pagination end -->
    </div>

  </div>
</div>
