<div class="shop-section mb-80">
  <div class="container">
    <div class="row">

      <app-left-catalog-list [pull]="''"></app-left-catalog-list>
      <app-product></app-product>
      <div  class="row">
        <div  class="col-md-12">
          <div class="section-title text-left mb-40">
              <div align="center">
                <h2  class="widget-title">Возможно вам будет интересно</h2>
              </div>

          </div>
      </div>
      <app-product-list-catalog [paginatorPageSize]="3" [listView]="false"></app-product-list-catalog>
    </div>
  </div>
</div>