<div class="col-md-{{colMd}} col-md{{pull}}-9 col-sm-12">
  <!-- widget-search -->
  <aside class="widget-search mb-30">
    <form action="#"><button type="submit"><i class="zmdi zmdi-search"></i></button>
      <input type="text" placeholder="Поиск товара...">

    </form>
  </aside>
  <!-- widget-categories -->
  <aside class="widget widget-categories box-shadow mb-30">
    <h4 class="ipaltext widget-title border-left mb-20">Каталог</h4>
    <div id="cat-treeview" class="product-cat">
      <ul>
        <li><hr></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}">Люстры</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}">Торшеры</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">Потолочные</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">Настольные</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">Бра</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}">Уличные</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">Встраиваемые</a><ul></ul></li>
        <li><a routerLinkActive="active" href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}">Лампочки</a><ul></ul></li>
        <li><hr></li>
        <li><a routerLinkActive="active" href="#" style="color: #d20000; font-weight: bold"[routerLink]="'/product-list'" [queryParams]="{category: 'Распродажа'}">Распродажа</a><ul></ul></li>

      </ul>
    </div>
  </aside>
</div>
