<!-- Start page content -->
<section id="page-content" class="page-wrapper">
  <!-- PRODUCT TAB SECTION START -->
  <div class="product-tab-section mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="section-title text-left mb-40">
            <h2 class="uppercase">Каталог продукции</h2>
            <h6>Здесь вы найдете товар на любой вкус</h6>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="pro-tab-menu text-right">
          </div>
        </div>
      </div>
      <div class="product-tab">
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- popular-product start -->
          <div class="tab-pane active" id="popular-product">
            <div class="row">
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}"><img src="assets/img/product/Люстры.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}">Люстры</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}"><img src="assets/img/product/Торшеры.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}">Торшеры</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}"><img src="assets/img/product/Светильники.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">Светильники</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}"><img src="assets/img/product/Настольные.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">Настольные</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}"><img src="assets/img/product/Бра.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">Бра</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Уличные'}"><img src="assets/img/product/Уличные.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Уличные'}">Уличные</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}"><img src="assets/img/product/Встраиваемые.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">Встраиваемые</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}"><img src="assets/img/product/Лампочки.jpg" alt=""></a>
                  <h3 class="brand-title text-white">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}">Лампочки</a>
                  </h3>
                </div>
                <br />
              </div>
              <!-- single-brand-product end -->
            </div>
          </div>
          <!-- popular-product end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End page content -->
