.qwert{

  padding: 1% 11% 1% 12%;



}

.wrapper{
  border: 1px #F6F6F6;
  background-color: #ececec;
}

.faded{

  width: 75%;
  height: auto;
  margin: 0;
  padding: 10px 10px 10px 10px;
  /* Обнуляем значение отступов */
  float: left;

}

.four1{

  padding: 10px 0px 0px 0px;

}
.four2{

  padding: 0px 0px 0px 0px;

}
.four3{

  padding: 0px 0px 10px 0px;

}



.font{
  color: #ffffff;

}
a.button26 {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  outline: none;
  background: linear-gradient(to top left, #191919, #9b9794, #776f78, #140d00);
}



.cont{
  width: 270px;
  height: 300px;


}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure {
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery {
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.slider figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption {
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem;
}






img#bannerFour{

  width: 25%;
}

img#bannerFive{

  width: 25%;
}

img#bannerSix{
  width: 25%;
}







