

<!-- Start page content -->
<section id="page-content" class="page-wrapper" class="center">

  <!-- PRODUCT TAB SECTION START -->
  <div class="col-md hidden-sm hidden-xs">
  <div class="product-tab-section mb-50">
    <div class="container">
      <div class="qwert">
        <div class="wrapper">
          <div class="faded">
            <div id="captioned-gallery" style="background:#fff;">
              <figure class="slider">
                <figure><img src="assets/img/author/B1.png" alt=""></figure>
                <figure><img src="assets/img/author/B2.png" alt=""></figure>
                <figure><img src="assets/img/author/B3.png" alt=""></figure>
                <figure><img src="assets/img/author/B2.png" alt=""></figure>
                <figure><img src="assets/img/author/B1.png" alt=""></figure>
              </figure>
            </div>
          </div>

          <!-- BOF- BANNER #4 display -->
          <div id="bannerFour" class="four1">
            <a href="#">
              <img src="assets/img/author/B4.png" style="width:24%; height: auto;"
                   onmouseover="this.src='assets/img/author/B8.png'; "
                   onmouseout="this.src='assets/img/author/B4.png'; "/>

            </a>
          </div>
          <!-- EOF- BANNER #4 display -->

          <!-- BOF- BANNER #5 display -->
          <div id="bannerFive" class="four2">
            <a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}"><img
              src="../../../assets/img/author/B5_act.png" style="width:24%; height: auto;"/></a>
          </div>
          <!-- EOF- BANNER #5 display -->

          <!-- BOF- BANNER #6 display -->
          <div id="bannerSix" class="four3">
            <a href="#"><img src="assets/img/author/B6.png" style="width:24%; height: auto; " alt=""></a>
          </div>
          <!-- EOF- BANNER #6 display -->
        </div>
      </div>
    </div>
  </div>
  </div>




  <!-- PRODUCT TAB SECTION START -->
  <div class="product-tab-section mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="ipaltext section-title text-left mb-40">
            <br>
            <h2 class="uppercase">Каталог продукции</h2>
            <h6>Здесь вы найдете товар на любой вкус</h6>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="pro-tab-menu text-right">
          </div>
        </div>
      </div>
      <div class="product-tab">
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- popular-product start -->
          <div class="tab-pane active" id="popular-product">
            <div class="row">


              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}">
                    <img src="assets/img/product/Люстры.jpg" alt=""></a>


                  <h3 class="">
                    <a href="#" [routerLink]="'/product-list'" [queryParams]="{category: 'Люстры'}" class="button26">Люстры</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}">
                    <img src="assets/img/product/Торшеры.jpg" alt=""></a>


                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Торшеры'}" class="button26">Торшеры</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}">
                    <img src="assets/img/product/Светильники.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Светильники'}"
                       class="button26">Потолочные</a>
                  </h3>
                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">
                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}">
                    <img src="assets/img/product/Настольные.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Настольные'}" class="button26">Настольные</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">

                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}">
                    <img src="assets/img/product/Бра.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Бра'}" class="button26">Бра</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}">
                    <img src="assets/img/product/Уличные.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Экстерьер'}" class="button26">Уличные</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}">
                    <img src="assets/img/product/Встраиваемые.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Встраиваемые'}"
                       class="button26">Встраиваемые</a>
                  </h3>

                </div>
                <br/>

              </div>
              <!-- single-brand-product end -->
              <!-- single-brand-product start -->
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-brand-product">


                  <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}">
                    <img src="assets/img/product/Лампочки.jpg" alt=""></a>
                  <h3 class="">
                    <a href="" [routerLink]="'/product-list'" [queryParams]="{category: 'Лампочки'}" class="button26">Лампочки</a>
                  </h3>


                </div>
                <br/>
              </div>
              <!-- single-brand-product end -->
            </div>
          </div>
          <!-- popular-product end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End page content -->
