/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.active {
    color: #909090;
}
.qtybutton {
    cursor: pointer;
}

.zmdi-close {
    cursor: pointer;
}

.zmdi-shopping-cart-plus {
    cursor: pointer;
}